div#banner { 
	position: fixed; 
	top: 0; 
	left: 0; 
	background-color: #778899; 
	width: 100%; 
	height: 50px;
}

div#banner-content { 
	width: 100%; 
	margin: 0 auto; 
	padding-bottom: 10px;
	padding-top: 10px; 
}

div#main-content { 
	padding-top: 70px;
	padding-right: 0px;
	width: 100%;
}

div#notifications {
	padding: 10px;
	margin: 5px;
	border: 1px solid #000;
	border-radius: 25px;
}

.map_canvas {
    height: 200px;
    width: 100%;
    margin: 0px;
}

.map_canvas {
    position: relative;
}

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}